#profilePic {
	width: 25%;
	height: auto;
	border-radius: 8px;
	float: left;
}

#introParagraph{
	width: 75%;
	float: right;
}

.topnav {
  background-color: #00540B;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: white;
  color: #00540B;
}

.topnav a:hover {
  background-color: black;
  color: white;
}